body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f98f04;
}

.header {
    display: flex;
    width: 75vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f4d47a;
    border-radius: 10px;
    margin-bottom: 15px;
}
h1 {
    font-size: 4rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height:12vh;
    margin-bottom: 1rem;
}
.text-input-container {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: space-around;
}

.text-input-container section {
    display: flex;
    flex-direction: column;

}

form input:invalid {
    border: 1px solid red;
}

#addBookBtn {
    background-color: #0053ba;
}

#addBookBtn:hover {
    background: green;
}
.bookContainer {
    width: 75vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.isCompleted {
    background-color: green;
    content:'text'
}

.notCompleted {
    background-color: red;
}

article {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    text-align: center;
    width: 13rem;
    margin-bottom: 20px;
    margin-right: 20px;
    padding-bottom: 5px;
    transition: all 1000ms ease-in-out, 
                transform 1000ms ease;
    background-color: #f4d47a;
    justify-content: space-between;
}

button {
    display: inline-block;
    border: none;
    padding: .5rem .75rem;
    margin: 0;
    text-decoration: none;
    background: #ed3700;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 400ms ease-in-out, 
                transform 400ms ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 5px;
}

button:hover{
    transform: scale(1.1)
}

article div {
    display: flex;
    justify-content: space-around;
}

.fade-in {
    opacity: 0;
}

.fade-in.show {
    opacity: 1;
    transition: opacity 10 ease-in-out
}

@media screen and (min-width: 650px) {
    .header {
        width: 640px;
    }
}

@media screen and (max-width: 650px) {
    .text-input-container {
        flex-direction: column;
    }

    .text-input-container {
        width: 70%;
    }
    form {
        height: auto;
    }
    /* h1 {
        width: 75%;
    } */
    .header {
        display: flex;
        width: 80vw;
        text-align: center;
    
    }
}

